---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";
import { defaultLang, languages } from "@i18n/config";

export interface Props {
  tags: string[];
}

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);

  return Object.keys(languages).map(lang => {
    const locale = lang === defaultLang ? undefined : lang;
    const tags = getUniqueTags(posts.filter(post => post.data.locale == lang));
    return {
      params: { lang: locale },
      props: { tags },
    };
  });
}

const { tags } = Astro.props;
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul>
      {tags.map(tag => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
