---
import { SUPPORTED_LANGUAGES } from "@config";
import { localizeUrl } from "@utils/i18n";

const { pathname } = Astro.url;
---

<ul class="flex flex-row gap-3">
  {
    SUPPORTED_LANGUAGES.map(lang => (
      <li>
        <a href={localizeUrl(lang, pathname)}>{lang}</a>
      </li>
    ))
  }
</ul>
