---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: CollectionEntry<"pages">;
}

const { page } = Astro.props;
const { title, description } = page.data;
const { Content } = await page.render();
---

<Layout title={title} description={description}>
  <Header />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-5xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{title}</h1>
      <Content />
    </section>
  </main>
  <Footer />
</Layout>
